@charset "utf-8";

* {
    font-size: 20px;
    padding: 1%;
    margin: 1%;
}

h1 {
    line-height: 200%
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(122, 39, 170);
    background-color: white;
    text-align: justify;
}

/* essa classe só se aplica para paragráfos*/
p.name_class {
    font-style: italic;
    background-color: rgb(98, 98, 99);
    color: white;
}

.cor {
    color: white;
    background-color: blueviolet;
}

/*
 O seletor de id é usado no CSS para identificar e aplicar uma  regra CSS exclusivamente a uma única área em uma página web.
*/

#titulo {
    text-shadow: 3px 3px 9px;
}