@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

 
body {
    background-color: rgb(77, 0, 0);
}

h1 {
    background-color: rgb(255, 255, 255);
    color: grey;
}

footer {
    background-color: blueviolet;
}



